<h1>Listing Sku</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for sku <- @sku do %>
    <tr>

      <td>
        <span><%= link "Show", to: Routes.sku_path(@conn, :show, sku) %></span>
        <span><%= link "Edit", to: Routes.sku_path(@conn, :edit, sku) %></span>
        <span><%= link "Delete", to: Routes.sku_path(@conn, :delete, sku), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Sku", to: Routes.sku_path(@conn, :new) %></span>
